@font-face {
    font-family: 'BungeeShade';
    src: url(BungeeShade-Regular.ttf);
}

@font-face {
    font-family: 'Ranga';
    src: url(Ranga-Regular.ttf);
}



body
{
    margin: 0;
    display: grid;
    grid-template-columns:  30% 40% 30%;
    grid-template-rows: 30% 10% 10% 10% 10% 10% 10% 10%;

    background-image: url(sadsadsa.jfif);
    background-size: cover;
}

.t1
{
    margin-left: 135%;
    grid-column: 1/2;
    grid-row: 1/1;
    text-align: center;
    font-family: 'BungeeShade';
    color: mediumseagreen;
    font-size: 47px;
    margin-top: 2%;

}

#logo
{
    grid-column: 1/1;
    grid-row:  1/1;
    margin-top: 3.7%;
    background-size: 90%;
    width:153px; 
    height:139px;
}

#menus
{
    grid-column: 1/1;
    grid-row: 1/1;
    text-align: center;
    font-family: 'BungeeShade';
    color: mediumseagreen;
    font-size: 27px;
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    margin-left: 5.5%;
    margin-top: 22%;
    width: 19%;
    height: 31%;
}

#conimg
{
    background-image: url(contactoimg.png);
    grid-row: 1/1;
    grid-column: 2/3;
    background-size: 70%;
    background-repeat: no-repeat;
    width: 128;
    height: 128;
    margin-left: 64%;
    margin-top: 4%;
}

.t2
{
    text-align: center;
    font-family: 'ranga';
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent; 
    grid-column: 2/2;
}

.t3
{
    grid-column: 2/2;
    text-align: center;
    font-family: 'BungeeShade';
    color: mediumseagreen;
    font-size: 30px;
    font-weight: bold;
    background-color: black;
    border-radius: 10px;
    border-color: aliceblue; 
    border-style: solid;
    border-width: 3px;
}

.decotx
{
    background-color: black;
    color: white;
    grid-column: 2/2;
    border-radius: 6px;
    width: 50%;
    height: 40%;
    margin-left: 20%;
    font-family: 'Ranga';
    font-size: 30px;
}

#txt2
{
    grid-row: 1/2;
    margin-top: 20%;
    height: 55%;
    width: 70%;
    margin-left: 11%;
}

#Nombre
{
    grid-row: 2/2;
    margin-right: 6%;
    margin-top: 5%;

}

#inpt1
{
    grid-row: 2/2;
    margin-top: 10%;
}

#Apellido
{
    grid-row: 3/3;
    margin-right: 6%;
    margin-top: 5%;
}

#inpt2
{
    grid-row: 3/3;
    margin-top: 10%;
}

#Mail
{
    grid-row: 4/4;
    margin-right: 6%;
    margin-top: 5%;
}
#inpt3
{
    grid-row: 4/4;
    margin-top: 10%;
}

#Telefono
{
    grid-row: 5/5;
    margin-right: 6%;
    margin-top: 5%;
}
#inpt4
{
    grid-row: 5/5;
    margin-top: 10%;
}

#Direccion
{
    grid-row: 6/6;
    margin-right: 6%;
    margin-top: 5%;
}
#inpt5
{
    grid-row: 6/6;
    margin-top: 10%;
}

#FechaNac
{
    grid-row: 7/7;
    margin-right: 6%;
    margin-top: 5%;
}

#FdNtxt1
{
    grid-row: 7/7;
    width: 8%;
    margin-top: 10%;
    text-align: center;
}

#FdNtxt2
{
    grid-row: 7/7;
    width: 20%;
    margin-top: 10%;
    margin-left: 30%;
    text-align: center;
}
#FdNtxt3
{
    grid-row: 7/7;
    width: 20%;
    margin-top: 10%;
    margin-left: 52%;
    text-align: center;
}

#Pais
{
    grid-row: 8/8;
    margin-right: 7%;
    margin-top: 5%;
}

#paislct
{
    grid-row: 8/8;
    margin-top: 10%;
}

#coment
{
    grid-row: 9/9;
    margin-top: 3%;
    margin-right: 8%;
}

#inpt6
{
    grid-row: 9/9;
    margin-top: 8%;
    margin-right: 10%;
    width:50%;
    height: 80%;
    text-align: center;
}

#botonE
{
    grid-row: 10/10;
    margin-top: 10%;
    width: 30%;
    margin-left: 30%;
}